{
  "processors": [
        [
      "stylelint-processor-styled-components",
      {
        "moduleName": "@material-ui/core"
      }
    ]
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ]
}